img{
  height: 70px;
  width: 90px;
  margin-left: 20px;
}

.video{
  position: absolute;
  box-shadow: 90%;
  filter: brightness(50%);
}

.navbar {
 font-size: 1.2em;

}
nav ul li{
  color: white;
}

.navbar-text{
  color: white;
}